 *{
    box-sizing: border-box;
}

body{
    font-family: arial;
    background-color: gray




}
header{
    padding: 30px;
    text-align:center;
    background-color: skyblue


}


footer{ 
    margin-top: 40px;
    background-color: skyblue;
}

nav ul li {
    display:inline-block ;
    padding: 30px;
}
nav ul{ 
    position: relative;
}
